
<p id="notice"><%= notice %></p>
<%= form_for(@subscription) do |f| %>

  <%= f.text_field :name, class: 'main-input field-name', id: 'myinputbox', placeholder: "Вашето име..." %>

  <%= f.email_field :email, class: 'main-input field-name', placeholder: "Вашиот email..." %>

  <%= f.submit class: 'submit-btn',  value: "ВКЛУЧИ СЕ" %>
<% end %>
                    
