
<div><p id="notice" class="notice-c" style=" color: #F05F40;"><strong><%= notice %></strong></p></div>

<%= form_for(@subscription) do |f| %>

  <%= f.text_field :name, class: 'main-input field-name', id: 'myinputbox', placeholder: "Име и Презиме..." %>

  <%= f.email_field :email, class: 'main-input field-name', placeholder: "Еmail адреса..." %>

  <%= f.submit class: 'submit-btn',  value: "ВКЛУЧИ СЕ" %>
 
<% end %>
                    
